@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Montserrat', sans-serif;
}

.universe {
      background: url(/img/githubsvg.png);
      background-position: fixed;
      width: 100%;
      height: 100vh;
      max-width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: #dfe7fd;
      display: flex;
      justify-content: center;
      align-items: center;
}

.universe h1 {
      position: absolute;
      top: 3.5em;
      color: #e4c1f9;
      letter-spacing: 3px;
}

.profileCard {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 60%;
      padding: 0;
}

form {
      display: flex;
      justify-content: center;
      align-items: center;
}

.search-bar {
      padding: 1.8em;
      margin: 1em;
      width: 20rem;
      border: 3px solid #7678ed;
      border-radius: 1rem;
}

::placeholder {
      font-size: 1.8em;
      text-align: center;
}

button {
      padding: .8em;
      background-color: #e4c1f9;
      border: 2px solid #e4c1f9;
      border-radius: 1rem;
      transition: all 1s ease-in-out;
}

button:hover {
      background-color: #84dcc6;
      border: #84dcc6;
}

.infoResult {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.infoResult p {
      font-size: medium;
}

img {
border-radius: 1rem;
}

.searchAgain {
      position: absolute;
      top: 55em;
}

.searchAgain button {
      padding: 1em 2em;
      font-size: 1.3em;
      font-weight: 500;
}